<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Fire Sculpture Control</title>
  <script type="text/javascript" src="jsGui/lib/jquery-ui-1.10.4.custom/js/jquery-1.10.2.js"></script>
  <script type="text/javascript" src="jsGui/lib/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js"></script>
  <script type="text/javascript" src="jsGui/lib/jquery-knob/js/jquery.knob.js"></script>
  <script type="text/javascript" src="jsGui/lib/jsrender/jsrender.min.js"></script>
  <script type="text/javascript" src="jsGui/ui.js"></script>
  
  <link rel="stylesheet" type="text/css" href="jsGui/style.css">
  <link rel="stylesheet" type="text/css" href="jsGui/lib/jquery-ui-1.10.4.custom/css/trontastic/jquery-ui-1.10.4.custom.min.css">
  <script type="text/javascript">
    $(document).ready(function(e) {
      doInit();
    });
  </script>
  
</head>
<body>
  <div id="mainDiv"></div>
  <div id="dialog"></div>
  <div id="storageDiv" style="display:none">
  <div id="logStorage"></div>
  </div>
</body>


<script id="sculptureControllerTemplate" type="text/x-jsrender">
  <h1 style="display:block; float:left;">{{>sculptureName}}</h1>
  <div id="safeButtonDiv" style="float:right; margin:15px 150px 0px 0px;">
    <input type="radio" id="safeModeOn" name="radio" value="on" {{if safeMode}}checked="checked"{{/if}}><label for="safeModeOn" style="width:100px;">Safe</label>
    <input type="radio" id="safeModeOff" name="radio" value="off" {{if safeMode}} {{else}}checked="checked"{{/if}}><label for="safeModeOff" style="width:100px;">Run</label>
  </div>
  <div style="clear:both; height:0px; overflow:hidden;">&nbsp;</div>
  <div id="sculptureControl" style="height:100%; width:70%; float:left;">
    <ul id="sculptureControlTabLabels">
      <li><a href="#main_module" onclick="setCurrentModuleView('main');">Main</a></li>
      {{for modules}}
        <li><a href="#{{>moduleId}}_module" onclick="setCurrentModuleView('{{>moduleId}}')">{{>name}}</a></li>
      {{/for}}
    </ul>
    <div id="main_module">
      <button id="addGlobalInputButton">Add new input</button>
      <div id="globalInputs" class="accordion">
        {{for globalInputs}}
          <h3 id="{{>value}}_heading" onclick="showGlobalInput({{>value}})">{{>name}} input</h3>
          <div id="globalInput_{{>value}}">
            <div style="float:right; height:300px;">
             <button id="stopGlobalInputButton_{{>value}}" class="globalInputButton">Stop input</button>
           </div> 
          </div>
        {{/for}}
      </div>
    </div>
    {{for modules}}
      <div id="{{>moduleId}}_module">
        <div id="{{>moduleId}}_outputView" class="outputView">
          {{for rows}}
            <div id="{{>moduleId}}_outputView_row{{>rowIndex}}">
              {{for cols}}
                <input type="checkbox" id="{{>moduleId}}_outputView_row{{>rowIndex}}_col{{>colIndex}}" class="pooferDisplay">
                <label style="width:15px; height:15px;" for="{{>moduleId}}_outputView_row{{>rowIndex}}_col{{>colIndex}}" class="pooferDisplayLabel"></label>
              {{/for}}
            </div>
          {{/for}}
        </div>
        <div id="{{>moduleId}}_enableView" class="enableView">
          {{for rows}}
            <div id="{{>moduleId}}_enableView_row{{>rowIndex}}">
              {{for cols}}
                <input type="checkbox" id="{{>moduleId}}_enableView_row{{>rowIndex}}_col{{>colIndex}}" class="enableControl" {{if enabled}}checked="checked"{{/if}}>
                <label style="width:15px; height:15px;" for="{{>moduleId}}_enableView_row{{>rowIndex}}_col{{>colIndex}}" class="enableControlLabel" ></label>
              {{/for}}
            </div>
          {{/for}}
        </div>
        <select id="{{>moduleId}}_patternChoices" onChange="addPattern('{{>moduleId}}')" class="addPattern">
          <option value="none">Add Pattern</option>
          {{for availablePatternNames}}
            <option value="{{>name}}">{{>name}}</option>
          {{/for}}
        </select>
        <div id="{{>moduleId}}_patterns" class="accordion">
          {{for patterns}}
            <h3 id="{{>patternInstanceId}}_heading" onclick="showPatternDetails('{{>moduleId}}', '{{>patternInstanceId}}')">{{>patternName}} pattern</h3>
            <div id="{{>moduleId}}_pattern{{>patternInstanceId}}">
              <div style="float:right; height:300px;">
                <button id="{{>moduleId}}_{{>patternInstanceId}}_removePattern" class="removePatternButton ui-icon-notice" style="margin-bottom:20px;">Remove pattern</button>
                {{for rowSettings}}
                  <br>
                  <input type="checkbox" id="{{>moduleId}}_{{>patternInstanceId}}_{{>rowIndex}}_toggleRow" {{if enabled}}checked = "checked"{{/if}} class="toggleRowButton">
                  <label for="{{>moduleId}}_{{>patternInstanceId}}_{{>rowIndex}}_toggleRow">Row {{>rowIndex}} Enable</label>
                {{/for}}
              </div>
            </div>
          {{/for}}
        </div>
      </div>
    {{/for}}
  </div>
  <div id="logDiv" style="float:left; width:25%; height:100%; overflow-x:hidden; overflow-y:auto; margin: 0px 0px 0px 15px; padding:1px;" class=" ui-widget ui-widget-content ui-corner-all"></div>
  </div>
  <div style="display:none;">
    <div id="inputs" style="float:left; height:100%; width:80%; overflow:auto; margin: 0px 0px 0px 15px; align:center;" class="ui-widget ui-widget-content ui-corner-all">
      {{for inputs}}
        <div style="display:none; text-align:center; float:left; height:200px;" id="inputInstance{{>inputInstanceId}}_div">
          <span class="inputDescription" id="inputInstance{{>inputInstanceId}}_description" style="width:125px;"></span>
          {{for inputs}}
            <div class="ui-widget ui-widget-content ui-corner-all" style="height:100px; width:100px; margin:0px 12px 0px 12px; padding:10px 0px 0px 0px">
              <div id="inputInstance{{>inputInstanceId}}_input{{>inputIndex}}_container"></div>
              <span class="inputDescription" id="inputInstance{{>inputInstanceId}}_input{{>inputIndex}}_description"></span>
            </div>
          {{/for}}
          <div id="inputInstance{{>inputInstanceId}}_outputs" style="width:125px;">
          </div>
        </div>
      {{/for}}
    </div>
  </div>
</script>

<script id="sculptureChooserTemplate" type="text/x-jsrender">
  <h1>Choose Sculpture</h1>
  <select id="sculptureChooser" onChange="changeSculpture()" size="10">
    <option value="none">None</option>
    {{for sculptures}}
      <option value="{{>sculptureId}}">{{>sculptureName}}</option>
    {{/for}}
  </select>
</script>


<script id="knobTemplate" type="text/x-jsrender">
  <input id="{{>id}}" value="{{>currentValue}}" data-width="75" data-height="75" data-max="{{>max}}" data-min="{{>min}}" data-skin="tron" class="knob" data-thickness=".2"> 
</script>
<script id="checkButtonTemplate" type="text/x-jsrender">
  <input id="{{>id}}" {{>checked}} type="checkbox"><label for="{{>id}}" style="width:75px; height:75px;"> </label>
</script>
<script id="buttonTemplate" type="text/x-jsrender">
  <button id="{{>id}}" style="width:75px; height:75px;"></button>
</script>

<script id="selectTemplate" type="text/x-jsrender">
  <select id="{{>id}}" {{:onChange}}>
    {{for options}}
      <option value="{{>value}}">{{>description}}</option>
    {{/for}}
  </select>

</script>
<script id="formFieldsTemplate" type="text/x-jsrender">
  {{for fields}}
    <label for="{{>id}}">{{>label}}</label><br>
    {{if input}}
      {{if value}}
         <input id="{{>id}}" value="{{>value}}">
      {{else}}
         <input id="{{>id}}">
      {{/if}}
    {{else checkbox}}
      <input type="checkbox" id="{{>id}}">
    {{else}}
      god fucking dammit
    {{/if}}
    <br>
  {{/for}}

</script>



</html>

