body{
  font-family: Helvetica, sans-serif;
	height: 100%;
	margin: 0px;
	padding: 0px;
  background-color: #000000;
  font-size: 75%;
  color:#87CEEB;
}
.inputDescription, .inputControlDescription{
  display:block;
  height:50px;
  color: #87CEEB;
  font-variant:small-caps;
  font-size: 12px;
  padding: 0px 10px 0px 10px;
}
.inputDescription{
  width:100px;
}
.inputControlDescription{
  width:80px;
}
.inputControlWrapper{
 height:100px;
 width:100px;
 margin:0px 10px 0px 10px;
 padding:10px 0px 0px 0px;
}
.inputOuterWrapper{
  text-align:center;
  float:left;
  height:200px;
  margin:10px;
}
.inputOutputWrapper{
  width:100px;
  height:100px;
}
.descriptionText{
  color: #87CEEB;
  font-variant:small-caps;
  font-size: 14px;
}
.rebindButton{
  font-size:12px !important;
}
.pooferDisplayLabel, .enableControlLabel{
  width:15px;
  height:15px;
  margin:0px -2px 0px 0px !important;
}
.pooferDisplayLabel.ui-state-active{
  background: #FFCD4D !important; 
}
.enableControlLabel.ui-state-active,  .inputControl.ui-state-active{
  background: #55CCFF !important; 
  border-color: #55CCFF !important; 
}
.toggleRowLabel.ui-state-focus span, .toggleRowLabel.ui-state-default span{
  color: #60A2BF; 
}
.toggleRowLabel.ui-state-active span{
  color: #FFCD4D !important; 
}
