body{
  font-family: Helvetica, sans-serif;
	height: 100%;
	margin: 0px;
	padding: 0px;
  background-color: #000000;
  font-size: 75%;
  color:#87CEEB;
}
#logDiv{
}
.inputDescription{
  display:block;
  height:50px;
  color: #FFC98D;
  font-variant:small-caps;
  font-size: 14px;
  padding: 0px 10px 0px 10px;
}
.descriptionText{
  color: #FFC98D;
  font-variant:small-caps;
  font-size: 14px;
}
.rebindButton{
  font-size:12px !important;
}
.pooferDisplayLabel.ui-state-active{
  background: #FFC98D !important; 
}
.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}
